@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>.NET Blog</h1>
    <p class="lead">This blog was created as a capstone project for the initial .NET boot camp at Manifest Solutions.p>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..."/>
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                    Search
                </button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            In this blog we talk about the general knowledge one needs to start using ASP.NET web MVC
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Read more &raquo;</a>
        </p>
    </div>
        <div class="col-md-12">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p>
                <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Read more &raquo;</a>
            </p>
        </div>
        <div class="col-md-12">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p>
                <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Read more &raquo;</a>
            </p>
        </div>
    </div>