@using Blog.Models
@model IEnumerable<Blog.Domain.Blogs>
@{
    ViewBag.Title = "Home Page";
}
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Blog.js"></script>

<div class="jumbotron">

</div>

<div class="row">
    <div class="col-md-12">
    @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "form-horizontal" })) {
        <div class="input-group">
            <input class="form-control search" name="searchTerm" type="text" placeholder="Search for..." />
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" id="searchButton">
                    <span class="glyphicon glyphicon-search"></span>
                    Search
                </button>
            </span>
        </div>
    }
    </div>
    <div class="col-md-12">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form-horizontal" }))
    {
        if (Model != null)
        {
            foreach ( var blogs in Model)
            {
                <div>
                    <h3>@Html.ActionLink(blogs.PostTitle, "Details", new { blogId = blogs.PostId })</h3>
                    <h4>Written By @blogs.PostAuthor on @blogs.PostDate</h4>
                </div>
            }
        }
    }
    </div>
</div>
