@using Blog.Models
@model IEnumerable<Blog.Domain.Posts>
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h2>Welcome to the .NET Blog</h2>
</div>

<div class="row">
    <div class="col-md-12">
    @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "form-horizontal" })) {
        <div class="input-group">
            <input class="form-control search" name="searchTerm" type="text" placeholder="Search for..." />
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" id="searchButton">
                    <span class="glyphicon glyphicon-search"></span>
                    Search
                </button>
            </span>
        </div>
    }
    </div>
    <div class="col-md-12">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form-horizontal" }))
    {
        if (Model != null)
        {
            foreach ( var posts in Model)
            {
                <div>
                    <h3>@Html.ActionLink(posts.PostTitle, "Details", "Blog", new { postId = posts.PostId }, null)</h3>
                    <h4>Written By @posts.PostAuthor on @posts.PostDate</h4>
                    <h5>@posts.PostTease</h5>
                </div>
            }
        }
    }
    </div>
</div>
