@using Blog.Models
@model IEnumerable<Blog.Domain.Blogs>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>

<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <input class="form-control search" type="text" placeholder="Search for..." />
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                    Search
                </button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-md-12">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form-horizontal" }))
    {
        if (Model != null)
        {
            foreach ( var blogs in Model)
            {
                <div>
                    <h3>@Html.ActionLink(blogs.PostTitle, "Details", new {id = blogs.PostId})</h3>
                    <h4>Written By @blogs.PostAuthor on @blogs.PostDate</h4>
                </div>
            }
        }
    }
    </div>
</div>