@using Blog.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>.NET Blog</h1>
    <p class="lead">This blog was created as a capstone project for the initial .NET boot camp at Manifest Solutions.p>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <input class="form-control search" type="text" placeholder="Search for..." />
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                    Search
                </button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-md-12">
        @*@using (@Html.BeginForm("Index", "Home")) {
            
            var grid = new WebGrid(Model.BlogPostCollction, canSort: false);

            <div>
                @grid.GetHtml(rows:
                    grid.Rows(
                        grid.Row("Title", "Stud Name"),
                        grid.Row("Author", "Marks"),
                        grid.Column("Date", "Section"),
                        grid.Column("Address", "Address"),
                        grid.Column("", null, format: @@{<a href="/Home/Edit/?stuId=@item.Id">Edit</a>}),
                        grid.Column("", null, format: @@{<a href="/Home/Delete/?stuId=@item.Id">Delete</a>})),
                        mode: WebGridPagerModes.Numeric)
            </div>
        }*@
    </div>
</div>