@model IEnumerable<Blog.Domain.Posts>
@{
    ViewBag.Title = "Search";
}

<h2>Search Results</h2>

@foreach (var item in Model)
{
    <div>
        <div>
            <h3> @Html.ActionLink(@item.PostTitle,"Details", "Blog", new{ postId = item.PostId } , null)</h3>
            <div class="blogText">@item.PostBody</div>
        </div>
    </div>
}
